@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.Explore-btn {
    width: 180px;
    height: 64px;
    margin-bottom: 25px;
    background-color: #FF900E;
    color: aliceblue;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
}

/* ------- header style start ----------- */
.head-container {
    background: rgba(255, 144, 14, 0.1);
}

.fst-container {
    padding: 45px 240px 45px 240px;
}

/* -------- nav style start ---------- */
.nav-menu {
    display: flex;
    justify-content: space-around;

}

.menu-div ul {
    display: flex;

}

.menu-div ul li {
    list-style: none;
    margin-right: 30px;

}

.menu-div ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    color: #424242;
}

/* -------- nav style end ---------- */

/*--------------- header articel style start --------------*/
.header-arteicel-container {
    text-align: center;
    margin-top: 100px;

}

.arteicel-div h1 {
    font-size: 64px;
}

.arteicel-div p {
    font-size: 12px;
    color: #131313;
    margin: 25px;
}



.header-img {
    height: 700px;
}

/*--------------- header articel style end --------------*/

/*--------------- media style start --------------*/

/* ---------------section-1 style--------------  */
.section-1 {
    display: flex;
    margin: 45px 240PX;
}

.img-div {
    width: 50%;
    margin-right: 10PX;
}

.info-div {
    margin: 25vh 10PX;
}

.info-div h1 {
    font-weight: 500;
    font-size: 28px;
    color: #727272;
    text-align: left;
    margin-bottom: 24px;
}

#span-1 {
    color: #131313;
}

#span-2 {
    color: #FF900E;
}

.info-div p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
    text-align: left;
}

/* ---------------section-2 style--------------  */
.section-2{
    display: flex;
    margin: 45px 240px;
}
.work-info{
    padding: 30px;
}
.works-titles{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
    padding-left:5px;
    border-left: 3px solid #FF900E;
}
.feature-des{
    line-height: 25px;
    margin: 20px;
    font-size: 16px;
    color: #727272;
}
.work{
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 100%;
}
.work-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin: 25px;
}

.btn{
    position: relative;
    top: -160px;
    left: 130px;
    height: 120px;
    width: 200px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin: auto;
    display: block;
    cursor: pointer;
}

@media only screen and (max-width: 688px) {

    /* ------- header style start ----------- */
    .fst-container {
        padding: 0px;
    }

    /* -------- nav style start ---------- */
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .menu-div ul {
        margin: 20px;
    }

    /*--------------- header articel style start --------------*/
    .header-arteicel-container {
        text-align: center;
        margin: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .arteicel-div h1 {
        font-size: 30px;
    }

    .arteicel-div p {
        font-size: 10px;
        color: #131313;
        /* margin: 25px; */
    }

    .header-img {
        height: 100%;
    }

    .header-img img {
        width: 100%;
    }

    /* ------- header style END ----------- */

    /* ------- Main style start ----------- */

    /* ------- section-1 style start ----------- */
    .section-1 {
        display: flex;
        margin: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .info-div{
        margin: 20px;
    }
     /* ------- section-2 style start ----------- */
    .section-2 {
        display: flex;
        margin: 0px; 
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .works-pic img {
        padding: 5px;
        width: 100%;
    }
    .btn{
        position: relative;
        left: 80px;
    }
}